/*
    Autor: Francisco Daniel Montañez Franco
    Fecha: 12/11/2023
    Descripcion: Un documento CSS que simplemente cambia la vista en pocos aspectos
*/
body{
    background-image: url("../img/fondoN.jpg");
}
#logo{
    background-color: #00156d;
}
#menu{
    background-color: #00804e;
}
#menu ul li:hover{
    background-color: #00156d;
}
.button-more{
    background: #00804e;
}